[submodule "src/github.com/qedus/osmpbf"]
	path = src/github.com/qedus/osmpbf
	url = https://github.com/qedus/osmpbf.git
[submodule "src/github.com/cheggaaa/pb"]
	path = src/github.com/cheggaaa/pb
	url = https://github.com/cheggaaa/pb.gitgit status
[submodule "src/labix.org/v2/mgo"]
	path = src/labix.org/v2/mgo
	url = https://github.com/amitu/mgo.git
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf.git
[submodule "src/github.com/amitu/mgo"]
	path = src/github.com/amitu/mgo
	url = https://github.com/amitu/mgo.git
